/* :root {
    --bg-color: white;
    --p-color: deeppink;
    --a-color: Teal;
    --a-hover-color: LightSeaGreen;
    --citation-bg-color: white;
    --citation-p-color: Salmon;
    --citation-a-color: MediumVioletRed;
    --citation-a-hover-color: DeepPink;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  *:focus {
    outline: none;
  }

  * {
    font-family: monaco, courier;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background: var(--bg-color);
  }
  
  /* 
  @media (min-width: 768px) {
    .wrapper {
      background: palegreen;
    }
  }
  */
/*   
  .ciao-frames {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    width: 80%;
    max-width: 800px;
    height: 400px;
  }
  .frame { */
    /* width: 400px;
    height: 200px;
    margin: 2px;
    display: block;
    border: 1px solid deeppink;
    background: transparent url("https://assets.codepen.io/219932/ciao-frames.png") 0 0 no-repeat;
  }
  #one {
    -webkit-animation: letterS 1s steps(12) infinite;
            animation: letterS 1s steps(12) infinite;
  }
  #two {
    -webkit-animation: letterA 1s steps(12) infinite;
            animation: letterA 1s steps(12) infinite;
  }
  #three {
    -webkit-animation: letterA 1s steps(12) infinite;
            animation: letterA 1s steps(12) infinite;
  }
  #four {
    -webkit-animation: letterO 1s steps(12) infinite;
            animation: letterO 1s steps(12) infinite;
  }
  
  @keyframes letterS {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -2400px;
    }
  }
  
  @keyframes letterA {
    0% {
      background-position: -400px 0;
    }
    100% {
      background-position: -400px -2400px;
    }
  }
  
  @keyframes letterA {
    0% {
      background-position: -800px 0;
    }
    100% {
      background-position: -800px -2400px;
    }
  }
  
  @keyframes letterC {
    0% {
      background-position: -1200px 0;
    }
    100% {
      background-position: -1200px -2400px;
    }
  } */
  
 /* citation */
/* .citation {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: var(--citation-bg-color);
  }
  
  .citation p {
    margin: 0;
    padding: 10px;
    font-size: 12px;
    color: var(--citation-p-color);
  }
  
  .citation p a {
    color: var(--citation-a-color);
    cursor: pointer;
  }
  
  .citation p a:hover {
    color: var(--citation-a-hover-color);
  }
   */ */

/* bigshot one font */
/* @import url(https://fonts.googleapis.com/css?family=Cabin+Condensed); */

body,html{margin:0;padding:0;height:100%;}
body{
  background: #f1f1f1;
  background-size:cover;
  font-family: 'Cabin Condensed', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
svg{font-weight:bold;max-width:600px;height:100%;}

svg {
    padding: 150px;
}

body{
    /* background-color: rgb(177, 183, 188); */
    background-image: linear-gradient(pink)
}

.rowyone{
    display: flex;
    /* flex-flow: nowrap; */
}

.wireframe-text{
    display: flex;
    flex-flow: nowrap;
    width: 50%
}

.wireframe-images{
    display: flex;
    flex-flow: nowrap;
    width: 50%
}

img{
    opacity: 1.0;
}

img:hover {
    opacity: 0.5;
}

.jump{
    display: flex;
    align-items: center;
    padding: 30px;
    flex-flow: center;

}

.flex-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 135px;
    margin: 10px;
}

.flex-cont > div {
    margin: 10px;
    padding: 10px;
}

header{
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1{
    margin-top: 1.5em;
    font-weight: bold;
    max-width: 100%;
    margin: 30px;
    text-align: center;
    /* font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lato', sans-serif; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Cabin Condensed', sans-serif;
}

nav{
    margin: auto;
    padding: 5px;
    text-align: center;
    justify-content: center;
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: 'Cabin Condensed', sans-serif;
}
nav ul{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0;
}

nav li{
    list-style: none;
    margin: auto;
    padding: 10px;
}

nav li a{
    padding: 10px;
    font-size: 14pt;
    /* font-weight: bold; */
    color: black;
    text-decoration: none;
}

nav li a:hover{
    color:  deeppink;
}

h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Cabin Condensed', sans-serif;
}

p{
    text-align: center;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

h2{
    color: black;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

h3{
    border-radius: 10cm;
    border-color: pink;
    font-family: 'Lato', sans-serif;
}

main{
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    flex-grow: 1;
    max-width: 100%;
    padding: 0.5em;
}

section{
    display: flex;
    flex: 1 1;
    flex-direction: row;
    flex-flow: row nowrap;
    flex-grow: 1;
    max-width: 100%;
    padding: 0.5em;
}

picture{
    align-items: center;
    max-width: 100%;
}

.disclaim p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

cite{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

img{
    max-width: 100%;
}

div{
    color: black;
    font-weight: bold;
}

.row{
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    align-items:center;
}
.hbox{
    padding: 10px;
    margin: 10px;
    flex: 1 1 auto;
    width: 100%;
    flex-grow: 1;
    align-items: center;
}
.hbox1{
    width: 20em;
    height: 15em;
}
.hbox2{
    width: 20em;
    height: 15em;
}
.hbox3{
    /* background-color: white; */
    width: 20em;
    height: 15em;
}
/* .hbox4{
    background-color: beige;
}
.hbox5{
    background-color: white;
} */

.wbox{
    padding: 10px;
    margin: 10px;
    width: 100%;
    align-items: center;
}

.formy{
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Avenir', sans-serif; 
    color: #33475b;  
}

.wbox1{
    padding: 10px;
    margin: 10px;
    background-color: beige;
    width: 50%;
}

.wbox2{
    padding: 10px;
    margin: 10px;
    background-color: beige;
}

.wbox3{
    padding: 10px;
    margin: 10px;
    flex: 1 1 auto;
    align-items: center;
    background-color: beige;
}
.wbox4{
    padding: 10px;
    margin: 10px;
    flex: 1 1 auto;
    align-items: center;
    background-color: beige;
}
.wbox5{
    padding: 10px;
    margin: 10px;
    flex: 1 1 auto;
    align-items: center;
    background-color: beige;
}

.box{
    padding: 10px;
    margin: 10px;
    align-items: center;
    width: 100%;
}

/* .box1{
    background-color: beige;
}

.box2{
    background-color: beige;
} */

.pbox{
    padding: 10px;
    margin: 10px;
    align-items: center;
    width: 300px;
    height: 300px;
}
/* .pbox1{
    background-color: beige;
}
.pbox2{
    background-color: beige;
}
.pbox3{
    background-color: beige;
}
.pbox4{
    background-color: beige;
}
.pbox5{
    background-color: beige;
}
.pbox6{
    background-color: beige;
}
.pbox7{
    background-color: beige;
}
.pbox8{
    background-color: beige;
}
.pbox9{
    background-color: beige;
}
.pbox10{
    background-color: beige;
}
.pbox11{
    background-color: beige;
}
.pbox12{
    background-color: beige;
} */

.lists{
    background-color: beige;
    margin: 10px;
    width: 50%;
}

.first-row{
height: 50%
}

.knitwire{
    background-color: rgb(21, 21, 21);
    color: white;
}

footer{
    /* background-color: beige; */
    text-align: center;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    height: 20px;
    color: black;
    padding: 10px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}



@media(max-width: 700px){
    header{
        display: flex;
        flex-flow: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        height: auto;
    }
    main{
        display: flex;
        flex-flow: row nowrap;
        flex-direction: row;
        padding: 5px;
        max-width: 100%;
        align-items: center;
        height: auto;
    }
    section{
        display: flex;
        flex-flow: column nowrap;
        flex-direction: column;
        padding: 5px;
        max-width: 100%;
        align-items:center;
        height: auto;
    }
    .flex-cont{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
    footer{
        display: flex;
        flex-flow: column wrap;
        flex-direction: column;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.projies{
display: flex;
}

.hidden{
display: none;
}

button{
    background-color: beige;
    color: black;
    width: 3em;
    height: 3em;
    font-size: larger;
}

button:hover {
background-color: rgb(194, 194, 168);
color: gray;
}

#carousel-previous-button{
    margin-left: auto;
}

#carousel-next-button{
    margin-right: auto;
}

.header{
    display: flex;
}

.header h1{
    flex-grow: 1;
}

.header button{
    margin-left: 20px;
}

.header-two {
    padding-bottom: 100px;
}

